/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /reset */
/* proprietá clearfix */
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* /proprietá clearfix */
.home_page{
  width:80%;
  margin: auto;
}
header{
  height: 100px;
  background-color: #e579e6;
  margin:20px 0;
}
.banner{
  height: 400px;
  background-color: #e3d67a;
  margin:20px 0;
}
.sections_container{
  background-color: #0286fc;
  margin-bottom: 20px;
}
.sections_title{
  height: 70px;
  background-color: #abcfe7;
  margin-bottom: 20px;
}
.section_1{
  height: 500px;
  width:20%;
  background-color: #abcfe7;
  float: left;
}
.section_2{
  height: 500px;
  width:56%;
  background-color: #abcfe7;
  float: left;
  margin: 0 2% 2% 2%;
}
.section_3{
  height: 500px;
  width:20%;
  background-color: #abcfe7;
  float: left;
}
footer{
  height: 50px;
  background-color: #8801fe;
  margin-bottom: 20px;
}
